body {
	padding-top: 65px;
}
.nav {
	width: 100%;
}
.container {
	padding-top: 20px;
}
td, th {
	text-align: right;
	line-height: 37px;
}
td:nth-child(1),
th:nth-child(1) {
	text-align: left;
}
h1, h2 {
	margin: 0;
}
.input-group-prepend,
.input-group-apppend {
	padding: 0 5px;
}
.input-group-lg .form-control {
	height: 50px;
}
.btn-fab.btn-lg, .btn-fab.btn-lg:focus {
	-webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12) !important;
	position: absolute;
	right: 16px;
	bottom: 16px;
}
.list-group-item {
	padding: 0;
	height: 50px;
}
.list-group-item :first-child {
	margin-right: 1rem;
}